<div class="left panel col-md-3" ng-controller="AddPageCtrl" >
		<div>
			<h2>Page</h2>		
			<button type="button" class="btn" ng-click="newPage()">Add</button>
			<button type="button" class="btn" ng-click="editPage()">Edit</button>
			<button type="button" class="btn" ng-click="deletePage()">Delete</button>
			
		</div>
		
		<div ng-controller="GetListCtrl">
			<ul>
				<li  ng-repeat="page in pages">
					<a href="#" data-id="{{page._id}}" content-pop class="list-group-item" ng-click="displayHtml(e,page._id)" >X {{page.title}}</a>
				</li>
			</ul>

		</div>

</div>

